* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  /* opacity: 5; */

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
#main-content {
  z-index: 100;
  display: flex;
  background-color: rgba(20, 30, 97, 0.4);
  background-color: rgba(204, 209, 228, 0.5);
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50vh;
  margin: 10vh auto 0 auto;
  padding: 10%;
  border: 2px solid black;
}

#generateBarcode {
  margin-top: 30px;
  align-items: center;
  background-color: aliceblue;
  opacity: 0.8;
  color: black;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.btn > .generateBarcode {
  display: inline-block;
  align-items: center;
}

#barcodeValue {
  margin-top: 30px;
  align-items: center;
  background-color: #301b3f;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


